* {
    margin: 0;
    padding: 0;        
    box-sizing: border-box;       
    user-select: none;    
  }
  
  :root {
    --cor-primaria: #151320;
    --cor-sucesso: #00bf8e;
    --cor-alerta: #f7c94b;
    --cor-perigo: #f75842;
    --cor-perigo-variante: rgba(247, 88, 66, 0.4);
    --cor-branco: #fff;
    --cor-branco-variante:#e1e1e1;
    --cor-branco-variante-1:#e6e6e6;
    --cor-clara: rgba(255, 255, 255, 0.7);
    --cor-escura: #000;
    --cor-escura-op: #000000af;   
    --cor-escura-variante: #151d2a;
    --cor-escura-variante-1: #151d2a;
    --cor-escura-variante-2: #1c2739;    
    --cor-bg: #1f2641;
    --cor-bg1: #2e3267;
    --cor-bg2: #424890;
    --cor-bg3: #171c2f;
  
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
      
  }
  
  body {
    width: 100%; 
    min-height: 100vh;  
    display: flex;    
    align-items: center;
    justify-content: center;
    background: var(--cor-bg);    
    background-image: url(../img/bg-texture.png);  
    font-family: "Montserrat", sans-serif;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    place-items: center;
  }

  .card {
    max-width: 25rem;
    padding: 2rem;
    border: 1px solid var(--cor-clara);
    background: var(--cor-escura-variante-1);
    border-radius: 15px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    transition: transform .4s, background .4s;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(-10px);    
    background: var(--cor-bg3);
  }

  .imgbx {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
  }

  .imgbx img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 1.5rem;
    filter: grayscale(100%);
    transition: filter .4s;
  }

  .imgbx:hover img{
    filter: grayscale(0);
  }

  .card .text {
    color: var(--cor-branco);
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    line-height: 1.2;
    font-size: 1.2rem;
  }

  .btn {
    padding: 1rem 2rem;
    color: var(--cor-branco);
    border-radius: 50px;
    border: 1px solid var(--cor-clara);
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    width: max-content;
    transition: background .4s, color .4s, transform .4s;
  }

  .btn:hover {
    background: var(--cor-branco);
    color: var(--cor-escura);
    transform: translateY(-5px);
  }

  @media screen and (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }    

    .card {
      display: flex;
    }

    .terceiro {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    } 
    
    .card {
      display: flex;
    }

    .primeiro {
      grid-column: span 2;
    }
    .segundo {
      grid-column: span 2;
    }

    .terceiro {
      grid-column: span 2;
    }
  }
