
:root { 

  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;
  --cor-bg3: #171c2f;
  --cor-bg4: #737c9c; 
  --primaria: #151320;


  --sucesso: #00bf8e;
  --alerta: #f7c94b;
  --perigo0: #f75842;
  
  --branco0: #fff;
  --branco1: #e1e1e1;
  --branco2: #e6e6e6;
  
  --escura0: #000;
  --escura1: #000000af;  
  --escura2: #151d2a;
  --escura3: #151d2a;
  --escura4: #1c2739;

  --cinza0: rgba(255, 255, 255, 0.6);
  --cinza1: rgba(255, 255, 255, 0.4);
  --cinza2: rgba(255, 255, 255, 0.05);
  --cinza3: rgba(0, 0, 0, 0.1);
  --cinza4: rgba(255, 255, 255, 0.7);
  --cinza5: rgba(255, 255, 255, 0.5);
  --cinza6: rgba(255, 255, 255, 0.075);
  --cinza7: rgba(255, 255, 255, 0.15);
  --cinza8: rgb(60, 60, 60);
  --cinza9: #333;
  --cinza10: rgba(255, 255, 255, 0.7);

  --verde0: #377e78;
  --verde1: #62b4af;
  --verde2: #2a6964;

  --vermelho1: #f52245;
  --vermelho2: #f8617a;
  --vermelho3: #c81c39;
  --vermelho4: #ff5a3c;
  --vermelho5: rgba(247, 88, 66, 0.4);  

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-bg);
  background-image: url(../img/bg-texture.png);
  font: 600 1.8rem "Source Sans Pro", sans-serif;
}

.conteudo {
  width: 350px;
  height: auto;
  background-color: var(--branco0);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 10px 30px rgb(60, 60, 60);
  }

form input {
  height: 80px;
  width: 100%;
  background-color: var(--cinza9);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--branco0);
  outline: none;
  pointer-events: none;
  text-align: right;
  border: none;
  padding-right: 20px;
}

.botao {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
  border-radius: 50%;
  margin-top: 10px;
  transition: all ease-in-out .2s;
  background-color: var(--branco0);
}

.btn:active {
  background-color: #d5d5d5;
  font-size: 24px;
}

#btn-limpar {
  color: var(--vermelho4);
}

.btn-sinal {
  color: var(--sucesso);
}

#btn-igual {
  background-color: var(--verde1);
  color: var(--branco0);
}


